*{
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:#0d0d0d;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Erdem Zengin's CSS codes starts here*/
body{
	font-family: 'Jost', sans-serif;
}
.section-div{
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding:20px;
}
.section-title{
	color:#8679d9;
	font-size:42px;
}
#latest-movies, #upcoming-movies{
	width:100%;
	max-width: 1200px;
	padding:20px 100px;
	display:grid;
	gap:10px;
	grid-template-columns: repeat(4, 1fr);
}
.movie-item{
	padding:10px;
	border-radius: 3px;
	border:1px solid #5833a6;
	background-size: cover;
	background-position: center;
	backdrop-filter: blur(100px);
	cursor:pointer;
	position:relative;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
}
.movie-item-background-filter{
	width:100%;
	height: 100%;
	background-color:rgba(20, 26, 38, 0.8);
	backdrop-filter:blur(10px);
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}
.movie-item:hover{
	border-color: #8679d9;
}
.movie-item img{
	max-width: 100%;
}
.movie-item h2{
	color:#fff;
	font-weight: bold;
	font-size:18px;
	text-align: center;
	padding:20px 0;
}
.movie-release-date {
	color:#8679d9;
	text-align: center;
	font-size:16px;
	font-weight: 400;
}
.seperator {
	width:100%;
	background-color: #141a26;
	height: 25px;
}
/* FOOTER START */
footer{
	max-width:100%;
	background-color:#141a26;
	padding:20px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:20px;
}
.about p, .credits p{
	font-weight: 300;
	color:#fff;
}
.about a {
	color:#8679d9;
}
.credits p{
	font-size:12px;
}
.credits img {
	width:75px;
}
/* FOOTER END*/
/*HEADER START*/
nav {
	width:100%;
	background-color:#141a26;
	display:flex;
	justify-content: center;
	align-items: center;
	padding:20px;
}
.nav-inner-container{
	max-width: 1200px;
	width:100%;
	display:grid;
	grid-template-columns: repeat(3,1fr);
}
.nav-item{
	display:flex;
	align-items: center;
	justify-content: center;
	color:#fff;
}
.nav-item.logo{
	text-align: center;
	cursor:pointer;
}
.nav-item.logo img {
	max-width: 20px;
	margin-right:10px;
	transition:all .2s ease;
}
.nav-item.logo img:hover{
animation:spin 0.6s forwards;
}
.nav-item.logo img:active{
	animation:bounce 0.2s;
	}
.nav-item.search{
	position: relative;
}
#movie-search {
	width:100%;
	border-radius: 3px;
	border:none;
	padding:5px 10px;
	text-align: center;
	font-weight: 500;
}
#movie-search:focus{
	outline: 3px solid #5833a6;
}
#search-results{
	max-width: 100%;
	min-height: 100px;
	background-color:#fff;
	position: absolute;
	z-index: 999;
	top:46px;
	border:1px solid #5833a6;
}
#search-results .movie-item{
	border:none;
}
#search-results .movie-item .movie-item-background-filter{
	backdrop-filter: blur(2px);
}
#search-results .movie-item img {
	max-width: 50px;
}
#search-results .movie-item h2 {
	text-align: left;
	font-size:16px;
	font-weight: 400;
	padding:0;
}
#search-results .movie-item p {
font-weight: 300;
font-size:12px;
}
.movie-item-inner-container{
	display:flex;
	gap:10px;
}
.right-container{
	display:flex;
	flex-direction: column;
	gap:10px;
}
@keyframes  spin {
	0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
/*HEADER END*/